<div class="content" align="center">
  <div class="col-xl-3 col-lg-3 col-md-3 col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Ürün Ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="productAddForm">
          <div class="form-group mb-2">
            <label for="productName" class="form-label">Ürün Adı</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              formControlName="productName"
              placeholder="Ürün Adı"
            />
          </div>
          <div class="form-group mb-2">
            <label for="categoryId" class="form-label">Kategori</label>
            <input
              type="number"
              class="form-control"
              id="categoryId"
              formControlName="categoryId"
              placeholder="Kategori"
            />
          </div>
          <div class="form-group mb-2">
            <label for="unitsInStock" class="form-label">Stok</label>
            <input
              type="number"
              class="form-control"
              id="unitsInStock"
              formControlName="unitsInStock"
              placeholder="Stok"
            />
          </div>
          <div class="form-group mb-2">
            <label for="unitPrice" class="form-label">Birim Fiyatı</label>
            <input
              type="number"
              class="form-control"
              id="unitPrice"
              formControlName="unitPrice"
              placeholder="Birim Fiyatı"
            />
          </div>
        </form>
      </div>
      <div class="card-footer" align="right">
        <button class="btn btn-fill btn-primary" routerLink="/products">< Geri</button>
        <button class="btn btn-fill btn-success" (click)="addProduct()" style="margin-left:5px">Ekle</button>
      </div>
    </div>
  </div>
</div>
