<div class="spinner-border text-danger" role="status" *ngIf="!categoryLoaded">
  <span class="visually-hidden">Loading...</span>
</div>
<ul class="list-group" *ngIf="categoryLoaded">
  <li
    routerLink="/products"
    (click)="setAllCategory()"
    [class]="getAllCategoryClass()"
  >
    Tüm Ürünler
  </li>
  <li
    (click)="setCurrentCategory(category)"
    routerLink="/products/category/{{ category.categoryId }}"
    [class]="getCurrentCategoryClass(category)"
    *ngFor="let category of categories"
    value="{{ category.categoryId }}"
  >
    {{ category.categoryName }}
  </li>
</ul>

<div
  class="alert alert-primary"
  role="alert"
  *ngIf="currentCategory"
  style="margin-top: 10px"
>
  {{ currentCategory.categoryName }} seçildi!
</div>
